<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="header">
    
    <h2></h2>
    <h2 align="center">Celtic Bikes Online</h2>
    <h2></h2>
    <h2 align="center">Ireland's Premier Bike Retailer</h2>
    <h2 align="center">Online Store Open 24 7</h2>
    
    
  </div>
  <div id="menu">
    <div id ="navbar">
      <ul>
        <li><a href="/items">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/users/sign_in">Login</a></li>
        <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Logout</a></li>
        <li><a href="/cart">Cart</a></li>
        
      </ul>
    </div>
  </div>
  
  <div id="container">
    <div id="content">
      <p class="notice"> <%=flash[:notice] %></p>
      <p class="alert"> <%= flash[:alert] %></p>
      <%=yield %>
      
      <% if user_signed_in? %>
      <div>Signed <%= current_user.email %> (<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>)</div>
      <% else %>
      <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_registration_path %>
      <% end %>
   <!--   
    </div>
    <div id="first-column">
      <div class = "loginbox">
        <h2 class="BoxHeaders">Login Here...</h2>
        
      </div>
      <div class="searchbox">
        <h2 class="BoxHeaders">Search Catalogue</h2>
        
      </div>
    </div>
    -->
  </div>
  <div id="footer">
    <h6 class="footertext">&copy; Celtic Cycles &trade; 2017</h6>
  </div>
  


</body>
</html>
